{% extends "basic.html" %}
{% block content %}
<div id=places>
  <div class="overlay"></div>
  {% if places %}
    {% for destination_type, destination in places.iteritems() %}
            <p>&nbsp;{{ destination_type }}<p>
            <iframe width="600"  height="450" frameborder="0" style="border:0"
		    src="https://www.google.com/maps/embed/v1/directions?key={{ key }}&origin={{ origin }}&destination={{ destination }}&units={{ units }}&mode={{ mode }}" allowfullscreen>
	    </iframe>
    {% endfor %}
  {% endif %}
  {% if not places %}
	<p>Apologies, there is no data available for your area</p>
  {% endif %}
</div>
{% endblock %}
