@media screen and (max-width: 992px) {
  .main {
    margin :0;
  }

  .start {
    width: 100%;
    padding-top: 0;
  }

  .middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
  }

  #places {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  #places p {
    font-size: 24px;
    margin: 0;
  }

  #places p iframe {
    padding: 0 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: 15%;
    bottom: 0;
    height: 85%;
    min-height :0;
  }
}
