* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding 0;
}

p {
  text-align: left;
  background: rgba(0,0,0,0.5);
  color: white;
  font-family: Georgia;
  font-size: 30px;
  text-shadow: 2px 2px black;
  text-decoration: None;
}

.main {
  margin-right: 10vw;
  margin-left: 10vw;
  background-image: url("/static/background-min.jpg");
  background-size: cover;
  text-align: center;
  min-height: 100vh;
}

.start {
  padding-top: 40vh;
  min-height: 100vh;
}

.middle {
  position: relative;
  vertical-align: middle;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
}

#places {
  position: relative;
  margin: 0 auto;
  display: inline-block;
  height: inherit;
  background-image: None;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  width: 100%;
  max-width: 800px;
  padding: 0 20px 20px;
}

#places p iframe {
  width: 100%;
  height: 100%;
  min-height: 450px;
}

#places p {
  padding: 20px;
  background-color: transparent;
}

#places p:last-child {
  margin: 0;
  padding: 0;
}

.middle .loader {
  vertical-align: middle
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  color: white;
  background: black;
  border: 2px solid #fff;
  border-right-color: transparent;
  border-right: 6px;
  border-radius: 200px;
  animation: spin 5s linear infinite;
  z-index: 1;
}

.middle .loader:active, .middle .loader:focus {
  outline: none;
}

#loader_text {
  padding-left: 44px;
  padding-right: 44px;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  vertical-align: middle;
  background: transparent;
  color: white;
  font-family: Georgia;
  border: 2px solid transparent;
  border-radius: 200px;
  text-align: center;
  font-size: 30px;
  text-shadow: 2px 2px black;
  width: 200px;
  height: 200px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.2s ease-in-out;
}

#loader_text p {
  text-align: center;
}

#slogan {
  font-family: Georgia;
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px black;
}

.locationBtn {
  vertical-align: middle;
  background: rgba(0,0,0,1);
  color: white;
  font-family: Georgia;
  text-align: center;
  font-size: 30px;
  text-shadow: 2px 2px black;
  border-radius: 100px;
  width: 200px;
  height: 200px;
  cursor: pointer;
  border: 2px;
  border-style: solid;
  z-index: 1;
  outline: none;
}

.locationBtn:focus, .locationBtn:active, .locationBtn::-moz-focus-inner {
  outline: none;
}

@keyframes spin {
  from { transform: rotate(0deg);}
  to   { transform: rotate(360deg);}
}
